<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Error : {{ status_text }}</title>
</head>
<body>
    <h1>Oups! The server generate and internal error plz try again later</h1>
    <h2>"{{ status_code }} {{ status_text }}".</h2>
</body>
</html>