{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Construction{% endblock %}

{% block body %}
<div class="shortDescriptionPage">This section is under construction. Try later.</div>
{% endblock %}