<hgroup class="articleTitleConteneur">
        <h1 class="acticleTitle">{{  presentation.titre  | trans }} </h1>
    </hgroup>
<p style="width: 100%" class="acticleParagraphe1">
        <span>
            {{  presentation.texte  | trans }}
            </span>
    </p>
</div>    